*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.window{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.image{
    position: relative;
}
.image > img{
    width: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
}
.image > img.current{
    left: 0;
    transform: translateX(0);
    z-index: 1;
}
.image > img.leave{
    transform: translateX(-100%);
    z-index: 1;
}
.image > img.enter{
    transform: translateX(100%);
}