*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.window{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.image{
    display: flex;
    transition: all 1s;
}
.image > img{
    width: 100%;
    
}
